* {
  margin: 0;
  font-family: "Karla", sans-serif;
  color: #495e57;
}

a {
  text-decoration: none;
  padding: 10px;  
  border-radius: 6px;
}

a:hover {
  background-color: rgb(73, 94, 87);
  color: white;
  transition: ease-in-out 0.3s;
}

li {
  list-style: none;
}
