footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  background-color: #495e57;
  color: white;
  padding-bottom: 1rem;
}

footer li,
h6 {
  color: #ffffff;
}

footer h6 {
  padding-top: 1rem;
  border-bottom: 1px solid white;
}

.footer__soc {
  display: flex;
  gap: 2rem;
}

footer img {
  width: 8rem;
}
