.hero__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 1rem;
  background-color: #495e57;
  padding: 20px 0 20px 0;
  margin-bottom: 80px;
}

.hero__container a {
  color: #495e57;
  background-color: yellow;
  font-weight: 600;
}

.hero__container a:hover {
  background-color: rgb(255, 255, 0, 0.8);
}

.hero__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero__text h1 {
  color: yellow;
  font-weight: 800;
}

.hero__text a {
  align-self: baseline;
}

.hero__text-p {
  width: 20rem;
  color: white;
}

.hero__img {
  width: 20rem;
  height: 25rem;
  object-fit: cover;
  border-radius: 1rem;
  margin-bottom: -100px;
}

.specials__text {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}

.specials__text h2 {
  font-weight: 800;
}

.specials__text a {
  color: #495e57;
  background-color: yellow;
  font-weight: 600;
}

.specials__cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.Card {
  padding: 1rem;
  margin: 1rem;
}

.card-body {
  background-color: #495e575c;
}

.card__title {
  display: flex;
  justify-content: space-between;
  color: black;
}

.card__title h6 {
  color: rgb(255, 123, 0);
}

.card-body a {
  color: #495e57;
  background-color: yellow;
  font-weight: 600;
}

.card-img-top {
  max-height: 183px;
}

.testimonials__container {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.testimonials__h2 {
  display: flex;
  justify-content: center;
}

.testimonials__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.about__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 1rem;
  padding: 20px;
}

.about__text {
  width: 20rem;
  align-self: center;
}

.about__img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 0.375rem;
}
