.nav__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 15px;
  align-items: center;
  gap: 1rem;
}

.nav-img {
  width: 50%;
}

nav a.active {
  background-color: rgb(73, 94, 87);
  color: white;
  transition: ease-in-out 0.3s;
}

.nav__li {
  display: flex;
  flex-wrap: wrap;
}
