.form__title {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  font-weight: 800;
  color: yellow;
  padding: 10px;
  background-color: #495e57;
}

.form__container {
  background-color: #495e57;
}

form textarea {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
}

form label {
  color: white;
}

span {
  color: red;
}

.form__inputs {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 20px;
}

input, select:focus {
  outline: none;
}

.form__inputs_icon {
  background-color: white;
  padding: 5px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

form button {  
  color: #495e57;
  background-color: yellow;
  font-weight: 600;
  border-radius: 15px;
  border: none;
  padding: 8px 35px;  
  align-self: center;
}

.form__button {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

form button:hover {
  background-color: rgb(255, 255, 0, 0.8);
}

form input,
select {
  height: 40px;
  border-radius: 5px;
  border: none;
  width: 100%;
  display: grid;
  justify-self: center;
}

.reservation__img {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.reservation__img img {
  max-width: 20%;
  height: auto;
  padding: 1rem 0 1rem;
  border-radius: 15px;
}
